name: Add new issues to the project board

on:
  issues:
    types:
      - opened
      - transferred

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/elastic/projects/1286
          github-token: ${{ secrets.APM_TECH_USER_TOKEN }}