{{- define "depInfo" -}}
{{- range $i, $dep := . }}
{{ $dep.Name }},{{ $dep.URL }},{{ $dep.Version | canonicalVersion }},{{ $dep.Version | revision }},{{ $dep.LicenceType }},
{{- end -}}
{{- end -}}

name,url,version,revision,license,sourceURL{{ template "depInfo" .Direct }}{{ template "depInfo" .Indirect }}
Red Hat Universal Base Image minimal,https://catalog.redhat.com/software/containers/ubi10-minimal/615bd9b4075b022acc111bf5,10,,Custom;https://www.redhat.com/licenses/EULA_Red_Hat_Universal_Base_Image_English_20190422.pdf,https://oss-dependencies.elastic.co/red-hat-universal-base-image-minimal/10/ubi-minimal-10-source.tar.gz
