version: 2
registries:
  docker-elastic:
    type: docker-registry
    url: https://docker.elastic.co
    username: ${{secrets.ELASTIC_DOCKER_USERNAME}}
    password: ${{secrets.ELASTIC_DOCKER_PASSWORD}}

updates:
  # go dependencies
  - package-ecosystem: "gomod"
    directory: "/"
    ignore:
      - dependency-name: "github.com/elastic/beats/v7"
    schedule:
      interval: "daily"
    groups:
      otel:
        patterns:
        - "go.opentelemetry.io/*"
        - "github.com/jaegertracing/jaeger"
        - "github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/jaeger"
      spf13:
        patterns:
        - "github.com/spf13/*"
      golang.org/x/:
        patterns:
        - "golang.org/x/*"
      go-agent:
        patterns:
        - "go.elastic.co/apm*"
  # go systemtest
  - package-ecosystem: "gomod"
    directory: "systemtest/"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
  # docker
  - package-ecosystem: "docker"
    directory: "/packaging/docker/"
    registries: "*"
    schedule:
      interval: "weekly"
  # GitHub actions
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/workflows/*"
    reviewers:
      - "elastic/observablt-ci"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"
