/.idea
/build
/data
/logs
/server/test_certs
**/*.received.json
.DS_Store
*.pyc

/approvals
/apm-server
/apm-server.test
/apm-server.dev.yml
/_meta/fields.generated.yml
/_meta/kibana/*/index-pattern

/fields.yml
/apm-server.template-es.json

