/.ci/docker/bats-core
/.ci/docker/tests/test_helper
/.ci/docker/target
/.ci/docker/golang-mage/go.*
/.ci/docker/golang-mage/systemtest/
/.ci/docker/golang-mage/internal/glog
**/*.idea
/build
/data
/logs
**/*.received.json
.DS_Store
*.pyc
*.swp
/apm-server.iml
/apm-server.keystore
/apm-server
/apm-server-oss
**/*.test
/docs/elastic/
html_docs
/x-pack/apm-server/apm-server
/x-pack/apm-server/build
/x-pack/apm-server/data
/x-pack/apm-server/logs
/x-pack/apm-server/*.syso
/docker-compose.override.yml
/config.mk
/systemtest/logs
docker-compose.yml.bck
Dockerfile.bck
version.asciidoc.bck
.imported-java-agent-pubkey
/agent
go.work
testing/docker/metricbeat/apm-server.yml
cmd/intake-receiver/intake-receiver
cmd/intake-receiver/events
.terraform
.terraform.lock*
.terraform.tfstate*
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
testing/benchmark/.envrc
testing/benchmark/benchmark-result.txt
testing/smoke/**/tf.log
testing/smoke/**/apm-server.log
testing/smoke/**/provisioner_key*
testing/smoke/**/main.tf
!testing/smoke/main.tf
!testing/smoke/supported-os/main.tf
testing/rally-cloud/build
