/.ci/docker/bats-core
/.ci/docker/tests/test_helper
/.ci/docker/target
**/*.idea
/build
/data
/logs
/beater/test_certs
**/*.received.json
.DS_Store
*.pyc
*.swp
/apm-server.iml
/apm-server.keystore
/apm-server
/apm-server-oss
**/*.test
/apm-server.dev.yml
/_meta/fields.generated.yml
/_meta/kibana/*/index-pattern
/_meta/kibana.generated/*
/fields.yml
/apm-server.template-es.json
/vendor/github.com/elastic/beats/libbeat/fields.yml
/docs/elastic/
html_docs
/x-pack/apm-server/apm-server
/x-pack/apm-server/build
/x-pack/apm-server/data
/x-pack/apm-server/logs
/docker-compose.override.yml
/config.mk
/systemtest/logs
