sudo: required
dist: trusty
services:
  - docker

language: go

go:
  - 1.10.3

os:
  - linux
#  - osx

env:
  global:
    # Cross-compile for amd64 only to speed up testing.
    - GOX_FLAGS="-arch amd64"
    - GO_VERSION="1.9.4"

jobs:
  include:
    # General checks
    - os: linux
      env: TARGETS="check-full"
      go: $GO_VERSION
      stage: check

    # Linux
    - os: linux
      env: TARGETS="testsuite"
      go: $GO_VERSION
      stage: test

addons:
  apt:
    packages:
      - python-virtualenv

before_install:
  - python --version
  - umask 022
  - chmod -R go-w $GOPATH/src/github.com/elastic/apm-server

install:
  - true

script:
  - make $TARGETS

after_success:
  # Copy full.cov to coverage.txt because codecov.io requires this file
