---

name: setup-cluster-env
description: Setup cluster env

inputs:
  vault-url:
    description: 'Vault URL'
    required: true
  vault-role-id:
    description: 'Vault role ID'
    required: true
  vault-secret-id:
    description: 'Vault secret ID'
    required: true

runs:
  using: "composite"
  steps:
    - uses: actions/setup-go@v3
      with:
        go-version-file: go.mod
        cache: true
        cache-dependency-path: |
          go.sum
          tools/go.sum
    - uses: hashicorp/vault-action@v2.5.0
      env:
        AWS_ACCOUNT_SECRET: 'secret/observability-team/ci/elastic-observability-aws-account-auth'
        EC_KEY_SECRET: 'secret/observability-team/ci/elastic-cloud/observability-pro'
      with:
        url: ${{ inputs.vault-url }}
        roleId: ${{ inputs.vault-role-id }}
        secretId: ${{ inputs.vault-secret-id }}
        method: approle
        secrets: |
          ${{ env.EC_KEY_SECRET }} apiKey | EC_API_KEY ;
          ${{ env.AWS_ACCOUNT_SECRET }} user | AWS_PROFILE ;
          ${{ env.AWS_ACCOUNT_SECRET }} csv | AWS_ACCOUNT_IMPORT
    - name: Configure AWS account
      run: |
        echo "${AWS_ACCOUNT_IMPORT}" > ${{ runner.temp }}/account.csv;
        sed -i 's/User name/User Name/g' ${{ runner.temp }}/account.csv;
        aws configure import --csv file://${{ runner.temp }}/account.csv;
        aws configure set default.region us-east-1;
        rm -f ${{ runner.temp }}/account.csv;
      shell: 'bash'
