apiVersion: apm.k8s.elastic.co/v1
kind: ApmServer
metadata:
  name: apm-server
spec:
  version: 8.8.0-ba3f07b2-SNAPSHOT
  count: 1
  config:
    logging:
      level: debug
    output:
      elasticsearch:
        hosts: ["http://elasticsearch-es-http.default.svc:9200"]
        username: admin
        password: changeme
  elasticsearchRef:
    name: elasticsearch
    namespace: default
  kibanaRef:
    name: kibana
    namespace: default
  podTemplate:
    spec:
      containers:
        - name: apm-server
          resources:
            limits:
              cpu: 1
              memory: "2Gi"
            requests:
              cpu: 1
              memory: "1Gi"
