apiVersion: apm.k8s.elastic.co/v1
kind: ApmServer
metadata:
  name: apm-server
spec:
  # TODO: replace with a pinned version such as 9.0.0-aaaaaaaa-SNAPSHOT
  version: 9.0.7-e883fe9e-SNAPSHOT
  count: 1
  http:
    tls:
      selfSignedCertificate:
        disabled: true
  config:
    apm-server:
      pprof:
        enabled: true
      expvar:
        enabled: true
    logging:
      level: debug
    monitoring:
      enabled: true
      elasticsearch:
        username: admin
        password: changeme
        hosts: [http://elasticsearch-es-http.default.svc:9200]
        protocol: "http"
    output:
      elasticsearch:
        username: admin
        password: changeme
  elasticsearchRef:
    name: elasticsearch
    namespace: default
  podTemplate:
    spec:
      containers:
        - name: apm-server
          resources:
            limits:
              cpu: 1
              memory: "2Gi"
            requests:
              cpu: 1
              memory: "1Gi"
