apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
spec:
<<<<<<< HEAD
  version: 8.16.0-3a37a73c-SNAPSHOT
=======
  # TODO: replace with a pinned version such as 9.0.0-aaaaaaaa-SNAPSHOT
  version: 8.16.0-2156c99d-SNAPSHOT
>>>>>>> 493b2c438 ([updatecli] Bump elastic stack version to 8.16.0-2156c99d (#14048))
  auth:
    fileRealm:
      - secretName: elasticsearch-admin
  monitoring:
    metrics:
      elasticsearchRefs:
        - name: elasticsearch
          namespace: default
    logs:
      elasticsearchRefs:
        - name: elasticsearch
          namespace: default
  nodeSets:
  - name: default
    count: 1
    config:
      node.store.allow_mmap: false
  http:
    tls:
      selfSignedCertificate:
        disabled: true
---
apiVersion: v1
kind: Secret
metadata:
  name: elasticsearch-admin
type: kubernetes.io/basic-auth
stringData:
  username: admin
  password: changeme
  roles: superuser
