apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: kibana
spec:
  version: 8.8.0-3f572553-SNAPSHOT
  count: 1
  elasticsearchRef:
    name: elasticsearch
    namespace: default
  http:
    tls:
      selfSignedCertificate:
        disabled: true
  podTemplate:
    spec:
      containers:
      - name: kibana
        resources:
          limits:
            memory: "1Gi"
          requests:
            memory: "512Mi"
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
          httpGet:
            path: /api/status
            port: 5601
            scheme: HTTP
            httpHeaders:
            - name: Authorization
              value: Basic YWRtaW46Y2hhbmdlbWU= # admin:changeme
  config:
    xpack.banners.placement: top
    xpack.banners.textContent: Log in credentials are `admin/changeme` by default
    xpack.fleet.agents.elasticsearch.hosts: ["http://elasticsearch-es-http.default.svc:9200"]
    xpack.fleet.packages:
    - name: apm
      version: latest
    - name: system
      version: latest
    - name: elastic_agent
      version: latest
    - name: fleet_server
      version: latest
    - name: kubernetes
      version: latest
    xpack.fleet.agentPolicies:
    - name: Fleet Server on ECK policy
      id: eck-fleet-server
      is_default_fleet_server: true
      namespace: default
      monitoring_enabled:
      - logs
      - metrics
      unenroll_timeout: 900
      package_policies:
      - name: fleet_server-1
        id: fleet_server-1
        package:
          name: fleet_server
    - name: APM Server on ECK policy
      id: eck-apm-server
      namespace: default
      monitoring_enabled:
      - logs
      - metrics
      unenroll_timeout: 900
      is_default: true
      package_policies:
      - name: apm
        id: apm-1
        package:
          name: apm
        inputs:
        - type: apm
          enabled: true
          vars:
          - name: host
            value: :8200
