# The GCP project where the workers will be provisioned
gcp_project = "elastic-apm"

# The GCP region where the workers will be provisioned
gcp_region = "us-west2"

# The GCP zone where the workers will be provisioned
gcp_zone = "us-west2-b"

# Path where the apmsoak loadgen binary is present on the local machine
# Defaults to `../../systemtest/cmd/apmsoak`
# apmsoak_bin_path = "."

# APM Server URL to send events to
# apm_server_url = "http://127.0.0.1:8200"

# Secret token for auth against the given server URL
# apm_secret_token = "<secret_token>"

# API Key for auth against the given server URL
# apm_api_key = "<api_key>"

# Event rate at which events will be sent to the APM server
# Defaults to `4000/s` (i.e. 4000 events per second)
# apm_loadgen_event_rate = "4000/s"

# Number of agents replicas to use, each replica launches 4 agents, one for each type
# Defaults to `2`
# apm_loadgen_agents_replicas = "4"

# Version of elastic-agent to install on the monitoring worker nodes
elastic_agent_version = "8.3.0"

# Fleet server URL to enroll the elastic agent installed on worker nodes
# fleet_url = ""

# Fleet enrollment token to enroll elastic agent installed on woker nodes
# fleet_enrollment_token = ""
