# Welcome to the Elastic APM Server {{.Version}}{{if .Snapshot}}-SNAPSHOT{{end}}

{{.Description}}

## Getting Started

To get started with APM Server, you need to set up Elasticsearch on your
localhost first. After that, start APM Server with:

     ./{{.BeatName}} -c {{.BeatName}}.yml -e

This will start APM Server and send the data to your Elasticsearch instance.

For further steps visit the
[Getting started](https://www.elastic.co/guide/en/apm/get-started/{{ beat_doc_branch }}/) guide.

## Documentation

Visit [Elastic.co Docs](https://www.elastic.co/guide/en/apm/server/{{ beat_doc_branch }}/)
for the full {{.BeatName}} documentation.
