# Welcome to {{.beat_name}} {{.version}}

{{.beat_description}}

## Getting Started

To get started with {{.beat_name}}, you need to set up Elasticsearch on your localhost first. After that, start {{.beat_name}} with:

     ./{{.beat_name}} -c {{.beat_name}}.yml -e

This will start {{.beat_name}} and send the data to your Elasticsearch instance. To load the dashboards for {{.beat_name}} into Kibana, run:

    ./{{.beat_name}} setup -e

For further steps visit the [Getting started](https://www.elastic.co/guide/en/apm/get-started/{{.doc_branch}}/) guide.

## Documentation

Visit [Elastic.co Docs](https://www.elastic.co/guide/en/apm/server/{{.doc_branch}}/) for the full {{.beat_name}} documentation.
