---
name: bump-golang

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 6'

permissions:
  contents: read

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: elastic/oblt-actions/updatecli/run@v1.9.1
        with:
          command: --experimental apply --config .ci/bump-golang.yml
        env:
          GITHUB_TOKEN: ${{ secrets.UPDATECLI_GH_TOKEN }}
          GITHUB_BRANCH: 'main'

  bump-7:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: elastic/oblt-actions/updatecli/run@v1.9.1
        with:
          command: --experimental apply --config .ci/bump-golang.yml
        env:
          GITHUB_TOKEN: ${{ secrets.UPDATECLI_GH_TOKEN }}
          GITHUB_BRANCH: '7.17'

  notify:
    runs-on: ubuntu-latest
    needs: [bump, bump-7]
    if: always()
    steps:
      - id: check
        uses: elastic/apm-pipeline-library/.github/actions/check-dependent-jobs@current
        with:
          needs: ${{ toJSON(needs) }}
      - if: ${{ steps.check.outputs.isSuccess == 'false' }}
        uses: elastic/oblt-actions/slack/send@v1.9.1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-server"
          message: ":traffic_cone: updatecli failed for `${{ github.repository }}@${{ github.ref_name }}`, @robots-ci please look what's going on <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|here>"
