---
name: bump-golang

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 6'

permissions:
  contents: read

jobs:

  bump:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v5

      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write
          permission-pull-requests: write

      - uses: elastic/oblt-actions/updatecli/run@v1
        with:
          command: --experimental apply --config .ci/updatecli/bump-golang.yml --values .ci/updatecli/values.d/scm.yml
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}
          GITHUB_BRANCH: 'main'
          GITHUB_LABELS: 'backport-active-9'

  bump-819:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: '8.19'

      - uses: elastic/oblt-actions/updatecli/run@v1
        with:
          command: apply --config .ci/updatecli/bump-golang.yml --values .ci/updatecli/values.d/scm.yml
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}
          GITHUB_BRANCH: '8.19'
          GITHUB_LABELS: 'backport-skip'

  bump-7:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: '7.17'

      - uses: elastic/oblt-actions/updatecli/run@v1
        with:
          command: --experimental apply --config .ci/updatecli/bump-golang.yml --values .ci/updatecli/values.d/scm.yml
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}
          GITHUB_BRANCH: '7.17'
          GITHUB_LABELS: 'backport-skip'

  notify:
    runs-on: ubuntu-latest
    needs: [bump, bump-7, bump-819]
    if: always()
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - if: ${{ steps.check.outputs.isSuccess == 'false' }}
        uses: elastic/oblt-actions/slack/send@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-server"
          message: ":traffic_cone: updatecli failed for `${{ github.repository }}@${{ github.ref_name }}`, @robots-ci please look what's going on <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|here>"
