name: check-docker-compose

on:
  workflow_dispatch:
  schedule:
    - cron: '0 15 * * 5'

# limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

jobs:
  filter:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      matrix: ${{ steps.generator.outputs.matrix }}
    steps:
      - id: generator
        uses: elastic/oblt-actions/elastic/active-branches@v1

  check-docker-compose:
    needs:
      - filter
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.filter.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ matrix.branch }}
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false
      - run: make check-docker-compose

  all-check-docker-compose:
    name: All check-docker-compose
    if: always()
    runs-on: ubuntu-latest
    needs:
      - check-docker-compose
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
          skipped-as-success: 'true'
      - run: ${{ steps.check.outputs.isSuccess }}
      - if: failure()
        uses: elastic/oblt-actions/slack/notify-result@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-server"
          status: ${{ steps.check.outputs.status }}
