---
name: functional-tests

on:
  workflow_dispatch: ~
  # TODO: re-enable this once they run reliably
  # TODO: re-enable notify step once enabling this
  # schedule:
  #   - cron: '0 3 * * 1-5'

permissions:
  contents: read
  id-token: write

env:
  TF_VAR_BRANCH: ${{ github.ref_name }}
  TF_VAR_BUILD_ID: ${{ github.run_id }}
  TF_VAR_ENVIRONMENT: 'ci'
  TF_VAR_REPO: ${{ github.repository }}
  TERRAFORM_VERSION: 1.10.2

jobs:
  run:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        environment:
          - 'qa'
          - 'pro'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: antontroshin/setup-go@bda02de8887c9946189f81e7e59512914aeb9ea4
        if: runner.os == 'Windows'
        with:
          go-version-file: 'functionaltests/go.mod'
          cache: true
      - uses: actions/setup-go@v5
        if: runner.os != 'Windows'
        with:
          go-version-file: 'functionaltests/go.mod'
          cache: true

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "${{ env.TERRAFORM_VERSION }}"

      - name: Set up terraform path
        uses: actions/github-script@v7
        with:
          script: |
            const { TERRAFORM_CLI_PATH } = process.env;
            core.addPath(TERRAFORM_CLI_PATH);

      - uses: elastic/oblt-actions/google/auth@v1

      - uses: google-github-actions/get-secretmanager-secrets@a8440875e1c2892062aef9061228d4f1af8f919b # v2.2.3
        with:
          export_to_environment: true
          secrets: |-
            EC_API_KEY:elastic-observability/elastic-cloud-observability-team-${{ matrix.environment }}-api-key

      - name: Set CREATED_DATE
        uses: actions/github-script@v7
        with:
          script: |
            const createdDate = Math.floor(Date.now() / 1000);
            core.exportVariable('TF_VAR_CREATED_DATE', createdDate);

      - run: go test -v -timeout=30m -cleanup-on-failure=false -target "${{ matrix.environment }}" ./
        working-directory: functionaltests

#  notify:
#    if: always()
#    runs-on: ubuntu-latest
#    needs:
#      - run
#    steps:
#      - id: check
#        uses: elastic/oblt-actions/check-dependent-jobs@v1
#        with:
#          jobs: ${{ toJSON(needs) }}
#      - uses: elastic/oblt-actions/slack/notify-result@v1
#        with:
#          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
#          channel-id: "#apm-server"
#          status: ${{ steps.check.outputs.status }}
