---
name: integration-server-test
run-name: Integration Server Test

on:
  workflow_dispatch: ~
  schedule:
    - cron: '0 2 * * 1-5'

permissions:
  contents: read
  id-token: write

env:
  TF_VAR_BRANCH: ${{ github.ref_name }}
  TF_VAR_BUILD_ID: ${{ github.run_id }}
  TF_VAR_ENVIRONMENT: 'ci'
  TF_VAR_REPO: ${{ github.repository }}
  TERRAFORM_VERSION: 1.10.2

jobs:
  run-upgrade:
    name: Upgrade tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        upgrade-path:
          # Latest 8.15 cannot upgrade to latest 8.17, it can only go to 8.17.3.
          # With our current setup (only latest patch), we have to upgrade to intermediate latest 8.16 instead.
          # TODO: Maybe add support for upgrading to latest upgradable instead of absolute latest?
          - '8.15, 8.16, 8.17'
          - '8.17, 8.18, 9.0'
          - '8.17, 8.19, 9.1'
        scenario:
          - 'Default'
          - 'Reroute'
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "${{ env.TERRAFORM_VERSION }}"
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'integrationservertest/go.mod'
          cache: false
      - uses: elastic/oblt-actions/google/auth@v1
      - uses: google-github-actions/get-secretmanager-secrets@a8440875e1c2892062aef9061228d4f1af8f919b # v2.2.3
        with:
          export_to_environment: true
          secrets: |-
            EC_API_KEY:elastic-observability/elastic-cloud-observability-team-pro-api-key
      - name: "Run upgrade tests"
        working-directory: ${{ github.workspace }}
        run: |
          export TF_VAR_CREATED_DATE=$(date +%s)
          SCENARIO="${{ matrix.scenario }}" UPGRADE_PATH="${{ matrix.upgrade-path }}" make integration-server-upgrade-test

  run-standalone:
    name: Standalone-to-managed tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - 'Managed7'
          - 'Managed8'
          - 'Managed9'
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "${{ env.TERRAFORM_VERSION }}"
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'integrationservertest/go.mod'
          cache: false
      - uses: elastic/oblt-actions/google/auth@v1
      - uses: google-github-actions/get-secretmanager-secrets@a8440875e1c2892062aef9061228d4f1af8f919b # v2.2.3
        with:
          export_to_environment: true
          secrets: |-
            EC_API_KEY:elastic-observability/elastic-cloud-observability-team-pro-api-key
      - name: "Run standalone-to-managed tests"
        working-directory: ${{ github.workspace }}
        run: |
          export TF_VAR_CREATED_DATE=$(date +%s)
          SCENARIO="${{ matrix.scenario }}" make integration-server-standalone-test

  notify:
    name: Notify
    if: always() && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - run-upgrade
      - run-standalone
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
          skipped-as-success: 'true'
      - uses: elastic/oblt-actions/slack/notify-result@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-server"
          status: ${{ steps.check.outputs.status }}
