name: OpenTelemetry Export Trace

on:
  workflow_run:
    workflows:
      - benchmarks
      - bump-elastic-stack-snapshot
      - ci
<<<<<<< HEAD
      - system-test-reporter
=======
      - microbenchmark
      - run-minor-release
      - run-patch-release
      - smoke-tests
      - smoke-tests-os
      - smoke-tests-ess
      - system-test-reporter
      - Terraform Format
>>>>>>> b5547a586 (ci(release): automate release steps (#12234))
      - update-beats
    types: [completed]

jobs:
  otel-export-trace:
    runs-on: ubuntu-latest
    steps:
      - uses: elastic/apm-pipeline-library/.github/actions/opentelemetry@current
        with:
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
