---
name: run-patch-release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version (semver format: major.minor.patch)'
        required: true
        type: string

# Avoid concurrency so we can watch the releases correctly
concurrency:
  group: ${{ github.workflow }}

permissions:
  contents: read

env:
  SLACK_CHANNEL: "#apm-server-test-release"

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      release-version: ${{ steps.prepare.outputs.release-version }}
      slack-thread: ${{ steps.prepare.outputs.slack-thread }}
    steps:
      - uses: actions/checkout@v4

      - id: prepare
        uses: ./.github/workflows/prepare-release
        with:
          vault-url: ${{ secrets.VAULT_ADDR }}
          vault-role-id: ${{ secrets.VAULT_ROLE_ID }}
          vault-secret-id: ${{ secrets.VAULT_SECRET_ID }}
          version: ${{ inputs.version }}
          type: 'patch'

  run-patch:
    runs-on: ubuntu-latest
    needs: [ prepare ]
    env:
      RELEASE_VERSION: ${{ needs.prepare.outputs.release-version }}
    steps:
      - uses: actions/checkout@v4

      - run: make patch-release

      - uses: elastic/apm-pipeline-library/.github/actions/slack-message@current
        with:
          url: ${{ secrets.VAULT_ADDR }}
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          channel: ${{ env.SLACK_CHANNEL }}
          threadTimestamp: ${{ needs.prepare.outputs.slack-thread || '' }}
          message: |-
            Feature freeze for `${{ github.repository }}@${{ env.RELEASE_VERSION }}` is Today.
            All the relevant PRs and issues have been created.
