name: smoke-tests-os
run-name: Smoke Tests OS

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      branch:
        description: 'The branch to checkout'
        required: true
        type: string

# limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

jobs:
  prepare:
    name: Generate smoke tests list
    runs-on: ubuntu-latest
    outputs:
      tests: ${{ steps.generate.outputs.tests }}
      date: ${{ steps.generate.outputs.date }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ inputs.branch }}
      - id: generate
        name: Generate matrix and date
        uses: ./.github/workflows/generate-smoke-tests-list

  smoke-tests-os:
    name: Run smoke tests OS
    runs-on: ubuntu-latest
    needs: prepare
    env:
      TF_VAR_BUILD_ID: ${{ github.run_id }}
      TF_VAR_ENVIRONMENT: 'ci'
      TF_VAR_BRANCH: ${{ github.ref_name }}
      TF_VAR_REPO: ${{ github.repository }}
      TF_VAR_CREATED_DATE: ${{ needs.prepare.outputs.date }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ inputs.branch }}
<<<<<<< HEAD
=======
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ~1.10.0
          terraform_wrapper: false
>>>>>>> 43108a07 (ci: pin actions to specific commits (#16297))
      - name: Get version
        run: echo "VERSION=$(make get-version)" >> "${GITHUB_ENV}"
      - name: Setup cluster env
        uses: ./.github/workflows/setup-cluster-env

      - uses: elastic/oblt-actions/aws/auth@31e93d1dfb82adc106fc7820f505db1afefe43b1 # v1

      - uses: elastic/oblt-actions/google/auth@31e93d1dfb82adc106fc7820f505db1afefe43b1 # v1

      - uses: google-github-actions/get-secretmanager-secrets@dc4a1392bad0fd60aee00bb2097e30ef07a1caae # v2.1.3
        with:
          export_to_environment: true
          secrets: |-
            EC_API_KEY:elastic-observability/elastic-cloud-observability-team-pro-api-key
      - name: Run smoke tests OS
        working-directory: ${{ github.workspace }}/testing/smoke/supported-os
        run: ./test.sh ${VERSION}-SNAPSHOT
