name: smoke-tests-os
run-name: Smoke Tests OS

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
  workflow_dispatch: ~

# limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

jobs:
  prepare:
    name: Generate smoke tests list
    runs-on: ubuntu-latest
    outputs:
      date: ${{ steps.generate.outputs.date }}
    steps:
      - id: generate
        name: Generate date
        run: echo "date=$(date +%s)" >> "${GITHUB_OUTPUT}"
        shell: bash

  smoke-tests-os:
    name: Run smoke tests OS
    runs-on: ubuntu-latest
    needs: prepare
    env:
      TF_VAR_BUILD_ID: ${{ github.run_id }}
      TF_VAR_ENVIRONMENT: 'ci'
      TF_VAR_BRANCH: ${{ github.ref_name }}
      TF_VAR_REPO: ${{ github.repository }}
      TF_VAR_CREATED_DATE: ${{ needs.prepare.outputs.date }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ~1.10.0
          terraform_wrapper: false
      - name: Get version
        run: echo "VERSION=$(make get-version)" >> "${GITHUB_ENV}"
      - name: Setup cluster env
        uses: ./.github/workflows/setup-cluster-env

      - uses: elastic/oblt-actions/aws/auth@v1

      - uses: elastic/oblt-actions/google/auth@v1
<<<<<<< HEAD
=======
        with:
          project-number: '911195782929'
          project-id: 'elastic-observability-ci'
>>>>>>> a0402b5d (Fix secrets google project (#18551))

      - uses: google-github-actions/get-secretmanager-secrets@a8440875e1c2892062aef9061228d4f1af8f919b # v2.2.3
        with:
          export_to_environment: true
          secrets: |-
            EC_API_KEY:elastic-observability-ci/elastic-cloud-observability-team-pro-api-key
      - name: Run smoke tests OS
        working-directory: ${{ github.workspace }}/testing/smoke/supported-os
        run: ./test.sh ${VERSION}-SNAPSHOT
