## Workflow to process the JUnit test results and add a report to the checks.
name: system-test-reporter
on:
  workflow_run:
    workflows:
      - ci
    types:
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  system-test-results:
    runs-on: ubuntu-latest
    steps:
      - uses: elastic/apm-pipeline-library/.github/actions/test-report@current
        with:
          artifact: test-results            # artifact name
          name: System Tests Results        # Name of the check run which will be created
          path: "*.xml"                     # Path to test results (inside artifact .zip)
          reporter: java-junit              # Format of test results
