name: update-beats

on:
  workflow_dispatch:
  schedule:
    - cron: '0 15 * * 1-5'

permissions:
  contents: read

jobs:
  filter:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      matrix: ${{ steps.generator.outputs.matrix }}
    steps:
      - id: generator
        uses: elastic/oblt-actions/elastic/active-branches@v1
  bump:
    needs:
      - filter
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.filter.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ matrix.branch }}

      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write
          permission-pull-requests: write

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false

      - uses: elastic/oblt-actions/updatecli/run@v1
        with:
          command: --experimental apply --config .ci/updatecli/update-beats.yml --values .ci/updatecli/values.d/scm.yml
        env:
          BRANCH_NAME: ${{ matrix.branch }}
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}

      - if: ${{ failure()  }}
        uses: elastic/oblt-actions/slack/send@v1
        with:
          channel-id: '#apm-server'
          message: ":traffic_cone: updatecli failed for `${{ github.repository }}@${{ github.ref_name }}`, @robots-ci please look what's going on <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|here>"
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
