name: update-beats

on:
  workflow_dispatch:
  schedule:
    - cron: '0 15 * * 1-5'

permissions:
  contents: read


jobs:
  filter:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      matrix: ${{ steps.generator.outputs.matrix }}
    steps:
      - id: generator
        uses: elastic/apm-pipeline-library/.github/actions/elastic-stack-snapshot-branches@current
  bump:
    needs:
      - filter
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.filter.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

<<<<<<< HEAD
      - uses: elastic/oblt-actions/updatecli/run@v1.2.0
=======
      - uses: elastic/oblt-actions/updatecli/run@v1
>>>>>>> 3351902f8 (updatecli: use updatecli policies (#13934))
        with:
          command: --experimental apply --config .ci/updatecli/update-beats.yml --values .ci/updatecli/values.d/scm.yml
        env:
          BRANCH_NAME: ${{ matrix.branch }}
          GITHUB_TOKEN: ${{ secrets.UPDATECLI_GH_TOKEN }}

      - if: ${{ failure()  }}
<<<<<<< HEAD
        uses: elastic/oblt-actions/slack/send@v1.2.0
=======
        uses: elastic/oblt-actions/slack/send@v1
>>>>>>> 3351902f8 (updatecli: use updatecli policies (#13934))
        with:
          channel-id: '#apm-server'
          message: ":traffic_cone: updatecli failed for `${{ github.repository }}@${{ github.ref_name }}`, @robots-ci please look what's going on <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|here>"
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
